.grid-stats {
  display: grid;
  grid-template-columns: 2fr 0.5fr 0.5fr;
  row-gap: 30px;
  column-gap: 20px;
  min-height: 65vh;
  margin-bottom: 20px;

  font-size: 1.2rem;
  border: 3px outset #50b4cf36;
  background-color: #50b4cf36;
}

.item {
  padding: 10px 0;
  background-color: #282c34;
}

.div-abit-rank {
    display: flex;
    flex-direction: column;
}