@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300;
  font-stretch: normal;
  src: url(https://fonts.gstatic.com/s/montserrat/v15/JTUSjIg1_i6t8kCHKm459Wlhzg.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-stretch: normal;
  src: url(https://fonts.gstatic.com/s/montserrat/v15/JTURjIg1_i6t8kCHKm45_ZpC3gnD-w.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-stretch: normal;
  src: url(https://fonts.gstatic.com/s/montserrat/v15/JTUSjIg1_i6t8kCHKm459W1hzqJfXg.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-stretch: normal;
  src: url(https://fonts.gstatic.com/s/montserrat/v15/JTUSjIg1_i6t8kCHKm459WZhzqJfXg.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 800;
  font-stretch: normal;
  src: url(https://fonts.gstatic.com/s/montserrat/v15/JTUSjIg1_i6t8kCHKm459WdhzqJfXg.ttf) format('truetype');
}

body {
  font-family: 'Montserrat', sans-serif;
}
.star {
  position: absolute;
  top: 0;
  left: 0;
  content: "*";
  font-size: 24px;
  color: black; /* цвет звездочки */
}
@media(max-width: 800px)
{
  tr {
    display: none;
  }
  tr:nth-child(-n + 2) {
    display: block;
  }
}
.container {
  max-width: 1600px;
  margin: 0 auto;
  align-content: center;
  display: grid;
}
.container-1300 {
  max-width: 1300px;
  margin: 0 auto;
}
.container-1400 {
  max-width: 1400px;
  margin: 0 auto;
}
.container-1500 {
  max-width: 1500px;
  margin: 0 auto;
}
.container-1600 {
  max-width: 1600px;
  margin: 0 auto;
}
.logo-wrap {
  padding: 40px 0;
}
.logo-wrap .logo {
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo-wrap .logo-img {
  margin-right: 20px;
}
.logo-wrap .logo-text {
  font-family: 'Open Sans', Arial;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 800;
  max-width: 400px;
}
.list-wrap {
  margin: 40px auto;
  font-family: 'Open Sans', Arial;
  font-weight: 400;
  font-size: 13px;
  line-height: 1.2;
}
.list-wrap *,
.list-wrap ::after,
.list-wrap ::before {
  box-sizing: border-box;
}
.list-wrap .date {
  margin-bottom: 20px;
  text-align: center;
}
.list-wrap .filter-wrap {
  padding: 8px 10px;
  background: #fbfbfb;
  border-radius: 4px;
  width: 100%;
}
@media (min-width: 768px) {
  .list-wrap .filter-wrap {
    display: flex;
    /*flex-wrap: nowrap;*/
    align-items: center;
    justify-content: space-between;
  }
}
@media (min-width: 768px) {
  .list-wrap .filter-wrap-block {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
  }
}
@media (min-width: 768px) {
  .list-wrap .filter-wrap-block-auto {
    flex: 0 0 auto;
    width: auto;
    max-width: 100%;
  }
}
.list-wrap .list-specialty {
  font-size: 18px;
  text-align: center;
  font-weight: 600;
  margin-top: 60px;
}
@media (min-width: 768px) {
  .list-wrap .list-specialty {
    font-size: 24px;
    font-weight: 800;
  }
}
.list-wrap .list-head {
  list-style: none;
  margin: 40px 0 30px;
  padding: 0;
}
.list-wrap .list-head li {
  margin-bottom: 5px;
}
.list-wrap .list-head span {
  font-weight: 600;
}
.list-wrap .list-filter {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
@media (min-width: 768px) {
  .list-wrap .list-filter {
    /*flex-wrap: nowrap;*/
    /*justify-content: center;*/
  }
}
.list-wrap .list-filter-element {
  padding: 0 0px 15px 0;
  width: 100%;
}
.list-wrap .list-filter-element:last-child {
  padding-right: 0px !important;
}
@media (min-width: 500px) and (max-width: 767px) {
  .list-wrap .list-filter-element {
    padding: 0 15px 15px 0;
    width: calc(100%/9);
  }
  .list-wrap .list-filter-element:nth-child(even) {
    padding-right: 0;
  }
  .list-wrap .list-filter-element:last-child {
    padding-right: 15px !important;
  }
}
@media (min-width: 768px) {
  .list-wrap .list-filter-element {
    padding: 0 15px 0 0;
    width: calc(100% / 7);
  }

  @media (min-width: 768px) {
    .list-wrap .list-filter-element4 {
      padding: 0 15px 0 0;
      width: calc(100% / 5);
      margin-bottom:15px;
    }

    .list-wrap .list-filter-element2 {
      padding: 0 15px 0 0;
      width: calc(100% / 5);
      margin-bottom:15px;
      display: flex;
    }

    .list-wrap .list-filter-element:nth-child(even) {
      padding-right: 15px;
    }

    .list-wrap .list-filter-element:last-child {
      padding-right: 0px;
    }
  }
  .list-wrap .list-filter-element:last-child {
    padding-right: 0;
  }

  .list-wrap .list-filter-2 .list-filter-element {
    width: calc(100% / 2);
  }

  .list-wrap .list-filter-3 .list-filter-element {
    width: calc(100% / 3);
  }

  .list-wrap .list-filter-4 .list-filter-element {
    width: calc(100% / 4);
  }

  .list-wrap .list-filter-5 .list-filter-element {
    width: calc(100% / 5);
  }

  .list-wrap .list-filter-6 .list-filter-element {
    width: calc(100% / 6);
  }

  .list-wrap .list-filter-7 .list-filter-element {
    width: calc(100% / 7);
  }

  /*.sticky {*/
  /*  position: sticky;*/
  /*  top: 0em;*/
  /*  min-height: 2em;*/
  /*  background: #fbfbfb;*/
  /*  z-index: 1;*/
  /*}*/

  .stickyHeader {
    position: sticky;
    top: 0px;
    min-height: 2em;
    z-index: 0;
    background-color: white;
  }

  .list-wrap .resetButton {
    cursor: pointer;
    padding: 12px 8px;
    font-size: 14px;
    border: 1px solid #dddddd;
    border-radius: 3px;
    background-color: #f0f0f0;
    line-height: 1;
    text-align: center;
    width: 100px;
    background: -webkit-gradient(linear, left top, left bottom, from(#FDFDFD), to(#F0F0F0));
    background: linear-gradient(#FDFDFD, #F0F0F0);
  }


.searchButton {
  cursor: pointer;
  padding: 12px 8px;
  font-size: 14px;
  border: 1px solid #dddddd;
  background-color: DodgerBlue;
  border-radius: 3px;
  /*background-color: #f0f0f0;*/
  line-height: 1;
  text-align: center;
  width: 40px;
  background: -webkit-gradient(linear, left top, left bottom, from(#FDFDFD), to(#F0F0F0));
  background: linear-gradient(#FDFDFD, #F0F0F0);
  position: absolute;
  top: .0em;
  right: .4em;
  height: 2.2em;
  text-transform: uppercase;
}


  .list-wrap .button_custom {
    cursor: pointer;
    padding: 12px 8px;
    font-size: 14px;
    border: 1px solid #dddddd;
    border-radius: 3px;
    background-color: #f0f0f0;
    line-height: 1;
    text-align: center;
    width: 150px;
    background: -webkit-gradient(linear, left top, left bottom, from(#FDFDFD), to(#F0F0F0));
    background: linear-gradient(#FDFDFD, #F0F0F0);
  }

  @media (min-width: 768px) {
    .list-wrap button {
      margin-left: 0px;
      margin-top: 0;
    }
  }
  .container-buttons {
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
  }

  .list-wrap .resetButton:hover {
    background: #00a772;
    border: 1px solid #009a6a;
    color: #fff;
    background: -webkit-gradient(linear, left top, left bottom, from(#00a772), to(#009a6a));
    background: linear-gradient(#00a772, #009a6a);
  }
  .megaSearchButton:hover {
    background: #5845a7;
    border: 1px solid #5845a7;
    color: #fff;
    background: -webkit-gradient(linear, left top, left bottom, from(#5845a7), to(#5845a7));
    background: linear-gradient(#5845a7, #5845a7);
  }

  .highlight {
    background: #ff0000;
    color: #f0f0f0;
  }

  .squareGreen {
    margin-right: 10px;
    width: 32px;
    height: 12px;
    background-color: #7cfc00;
  }

  .squareYellow {
    margin-right: 10px;
    width: 32px;
    height: 12px;
    background-color: yellow;
  }

  .megaSearchButton {
    cursor: pointer;
    padding: 12px 8px;
    font-size: 14px;
    border: 1px solid #2a0258;
    border-radius: 3px;
    background-color: #f0f0f0;
    line-height: 1;
    text-align: center;
    width: 100px;
    background: -webkit-gradient(linear, left top, left bottom, from(#FDFDFD), to(#F0F0F0));
    background: linear-gradient(#FDFDFD, #F0F0F0);
  }
  .megaSearchButtonSelected {
    cursor: pointer;
    padding: 12px 8px;
    font-size: 14px;
    border: 1px solid #2a0258;
    border-radius: 3px;
    background-color: #5845a7;
    line-height: 1;
    text-align: center;
    width: 100px;
  }
  .list-wrap select {
    line-height: 1;
    width: 100%;
    padding: 10px 8px;
    font-size: 14px;
    border: 1px solid #dddddd;
    border-radius: 3px;
  }

  .searchSnilsContainer {
    position: relative;
    margin: 0em;
  }

  .snilsSerch {
    box-sizing: border-box;
    line-height: 1;
    width: 100%;
    padding: 10px 8px;
    font-size: 14px;
    border: 1px solid #dddddd;
    border-radius: 3px;
    display: block;
    width: 100%;
    height: 3em;
    /*line-height: 3em;*/
    /*border-radius: 1.5em;*/
    /*border: 1px solid;*/
    /*padding: 0 1.5em;*/
  }

  .list-wrap input {
    line-height: 1;
    width: 100%;
    height: 100%;
    padding: 10px 8px;
    font-size: 14px;
    border: 1px solid #dddddd;
    border-radius: 3px;
  }

  .list-wrap select:focus {
    outline: none;
  }

  .list-wrap input:focus {
    outline: none;
  }

  .table {
    width: 100%;
    margin-bottom: 30px;
    color: #212529;
    border-collapse: collapse;
  }

  .list-wrap .table tr:hover {
    background: #fbfbfb;
    font-weight: 500;
  }

  .list-wrap .table tr.hide {
    display: none;
  }

  .list-wrap .table thead {
    border-bottom: 2px solid #dee2e6;
    background: #f9f9f9;
  }

  .list-wrap .table tfoot {
    background: #fbfbfb;
  }

  .list-wrap .table tfoot tr:hover {
    font-weight: inherit;
  }

  .list-wrap .table tfoot .more {
    padding: 15px 15px;
    cursor: pointer;
    color: #ff0000;
  }

  .list-wrap .table tfoot .more:hover {
    color: #00a772;
  }

  .list-wrap .table th,
  .list-wrap .table td {
    border: 1px solid #dee2e6;
    padding: 10px 10px;
  }

  .list-wrap .table th {
    font-weight: 600;
    font-size: 13px;
  }

  .list-wrap .table td {
    text-align: center;
  }

  .list-wrap .table td.green {
    background: #e8fad4;
    font-weight: 600;
  }

  .list-wrap .table td.bold {
    font-weight: 500;
  }

  .list-wrap .table-bordered {
    border: 1px solid #dee2e6;
  }

  .list-wrap .tc {
    text-align: center;
  }

  .list-wrap .tl {
    text-align: center;
    white-space: nowrap;
    width: 136px;
  }

  .rotate {
    transform: rotate(180deg);
    writing-mode: tb;
  }

  th.vertical {
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
  }
}
.list-filter-element4 {
  display: flex;
  align-items: center;
}

.selectpicker {
  margin-right: 8px; /* Adjust as needed */
}

.searchSnilsContainer {
  display: flex;
  align-items: center;
  flex-grow: 1; /* Ensure the container takes available space */
}

.snilsSerch {
  width: 100%; /* Ensure the input takes up remaining space */
}

.searchButton {
  /*margin-right: 6px; !* Adjust as needed *!*/
}

.fa-search {
  color: black; /* Ensure the icon is styled correctly */
}

.tooltip {
  position: relative;
  cursor: pointer;
}

.tooltip::after {
  content: attr(data-title-subject);
  position: absolute;
  left: 100%;
  top: 0;
  z-index: 999;
  display: none;
  padding: 5px;
  background-color: #333;
  color: #fff;
  border-radius: 5px;
}

.tooltip:hover::after {
  display: block;
}

.tooltip span {
  position: absolute;
  bottom: 0;
  left: 0;
  font-size: small;
}
.list-wrap .button {
  cursor: pointer;
  padding: 12px 8px;
  font-size: 14px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  background-color: #f0f0f0;
  line-height: 1;
  text-align: center;
  width: 100px;
  background: -webkit-gradient(linear, left top, left bottom, from(#FDFDFD), to(#F0F0F0));
  background: linear-gradient(#FDFDFD, #F0F0F0);
}
.list-wrap .button_custom {
  cursor: pointer;
  padding: 12px 8px;
  font-size: 14px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  background-color: #f0f0f0;
  line-height: 1;
  text-align: center;
  width: 150px;
  background: -webkit-gradient(linear, left top, left bottom, from(#FDFDFD), to(#F0F0F0));
  background: linear-gradient(#FDFDFD, #F0F0F0);
}
/*# sourceMappingURL=styles.css.map */